*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

#number{
    display: inline;
    width: 150px;
    position: relative;
    top: 120px;
    border: 5px solid red;
    
    
}

#button{
    display: inline;
    width: 100px;
    position: relative;
    top: 130px;
    background-color: red;
    color: aliceblue;
    right: 20px;
}

img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#list p{
    display: block;
    position: relative;
    top: 150px;
    left: 20px;
    text-decoration:underline;
    margin-bottom: 10px;
}

p{
    font-size: 22px;
    font-weight: 500;
    
}

p::after{
    
    text-decoration: line-through;
}

img{
    position: absolute;
    
    z-index:-1;
}
.reset{

    position: relative;
    top: 111px;
    left: 55px;
    background-color: red;
    color: antiquewhite;
}
p{
    color: rgb(85, 4, 4);
    font-size: 22px;
    background-color:burlywood;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
}
